/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@media only screen and (max-device-width: 768px) {
    .mat-form-field {
        width: 100%;
    }
    .img {
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) {
    .mat-card {
        width: 30%;
    }
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.note-cards {
    margin: 5px;
}

mat-form-field {
    margin-right: 12px;
}